K2_CLIENT_ID=client_id
K2_CLIENT_SECRET=client_secret
K2_API_KEY=k2_api_key
K2_BASE_URL=https://sandbox.kopokopo.com
K2_TILL_NUMBER=123456
K2_CALLBACK_URL=https://your_callback_url
NEXT_PUBLIC_CALLBACK_URL=https://your_callback_url
